<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","className":"site-main site-main--page","layout":{"type":"default"}} -->
<main class="wp-block-group site-main site-main--page">
	<!-- wp:group {"className":"site-wrap","layout":{"type":"default"}} -->
	<div class="wp-block-group site-wrap">
		<!-- wp:post-title {"level":1,"className":"entry-title"} /-->
		<!-- wp:post-content {"className":"entry-content","layout":{"type":"default"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
