#######################################################################
# 1) MPM-event – concurrency limits (placeholders filled at boot)
#######################################################################

<IfModule mpm_event_module>
    StartServers          {{START_SERVERS}}
    ServerLimit           {{SERVER_LIMIT}}
    ThreadsPerChild       {{THREADS_PER_CHILD}}
    MaxRequestWorkers     {{MAX_REQUEST_WORKERS}}
    MinSpareThreads       {{SPARE_MIN}}
    MaxSpareThreads       {{SPARE_MAX}}
    MaxConnectionsPerChild 10000
</IfModule>

#######################################################################
# 2) Core server tweaks
#######################################################################
ServerTokens Prod
ServerSignature Off

KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 2