[mysqld]
# Use ~60–70% of the DB container RAM
innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 1
innodb_log_file_size      = 256M
innodb_log_buffer_size    = 64M
innodb_flush_log_at_trx_commit = 2   # good perf/safety tradeoff
innodb_flush_method       = O_DIRECT
innodb_thread_concurrency = 0
max_connections           = 200

# Bigger temp tables avoids disk spills on admin lists
tmp_table_size            = 256M
max_heap_table_size       = 256M

# General
table_open_cache          = 4096
open_files_limit          = 65535
performance_schema        = ON
skip-name-resolve
ssl=0
skip_ssl

[client]
ssl=0